body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 16px;
  color: white;
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 95vw;
  margin: auto;
  height: 100%;
  min-height: inherit;
}

.App > * {
  width: 95vw;
}

header.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  padding-bottom: 0;
  margin-bottom: 1rem;
  width: 95vw;
}

header.navbar span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  user-select: none;
}

header.navbar span p {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

header.navbar span p:nth-child(1) {
  font-weight: 600;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  font-size: 24px;
  line-height: 1.5em;
}

header.navbar span p:nth-child(2) {
  font-weight: 400;
  letter-spacing: 0.65em;
  padding-left: 0.5em;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
}

header.navbar .actions button {
  outline: none;
  border: none;
  padding: 0.5rem 0.75rem;
  margin: 0 0.375rem;
  background: #2f3c57;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

header.navbar .actions button:hover {
  background: #385188;
}
